<!DOCTYPE html>
<html>
<head>
<title>$TITLE</title>
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
$NAVBAR

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span8">
	$ALERT_MESSAGES
      <!--Body content-->
		$CONTENT
    </div>
    <div class="span2">
      <!--Sidebar content-->
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
