<div>
<!--form method="get" action="?">
<input type="hidden" name="p" value="1" />
<input type="hidden" name="l" value="$limit" />
<input type="hidden" name="o" value="$order" /-->
<input type="text" class="text" name="q" style="width:100%;" value="$query" disabled="disabled"/>
<!--input type="submit" value="Filter"/>
</form-->
</div>
<br/>

<table style="margin-left:auto;margin-right:auto;">
<tr>
	#if ($prev > 0)
	<td><a href="${lbase}?p=${prev}&l=${limit}">Prev</a></td>
	#else
	<td>Prev</td>
	#end
	<td>&nbsp;</td>
	<td><input type="button" value="Update Filters" onclick="filter()" /></td>
	<td>&nbsp;</td>
	#if ($next > $lastPage)
	<td>Next</td>
	#else
	<td><a href="${lbase}?p=${next}&l=${limit}">Next</a></td>
	#end
</tr>
</table>

<br/>

<table class="listing">
<tr>
	<th>
		<a href="${olink}&o=id">Id</a>
		<input type="text" name="id" value="$!{filter.getString("id")}" />
	</th>
	<th>
		<a href="${olink}&o=name">Name</a>
		<input type="text" name="name" value="$!{filter.getString("name")}" />
	</th>
	<th>
		<a href="${olink}&o=priority">Priority</a>
		<input type="text" name="priority" value="$!{filter.getString("priority")}" />
	</th>
	<th>
		<a href="${olink}&o=severity">Severity</a>
		<input type="text" name="severity" value="$!{filter.getString("severity")}" />
	</th>

	<th>
		<a href="${olink}&o=detected-by">Detected-By</a>
		<input type="text" name="detected-by" value="$!{filter.getString("detected-by")}" />
	</th>
	<th>
		<a href="${olink}&o=status">Status</a>
		<input type="text" name="status" value="$!{filter.getString("status")}" />
	</th>
	<th>
		<a href="${olink}&o=owner">Owner</a>
		<input type="text" name="owner" value="$!{filter.getString("owner")}" />
	</th>
</tr>
#foreach ($entity in $result)
<tr>
	<td><a href="${base}/Index/ticket/id/$entity.get("id")">$entity.get("id")</a></td>
	<td>$util.substr($entity.get("name"), 0, 100)...</td>
	<td>$entity.get("priority")</td>
	<td>$entity.get("severity")</td>
	<td>$entity.get("detected-by")</td>
	<td>$entity.get("status")</td>
	<td>$entity.get("owner")</td>
</tr>
#end
</table>
#[[
<script type="text/javascript">
function filter()
{
	var url = ]]#"${flink}"#[[;
	filter = {};
	jQuery('table.listing th input').each(function(index){
		var n = jQuery(this).attr('name');
		var v = jQuery(this).val();

		filter[n] = v;
	});
	window.location = url + "&filter=" + escape(JSON.stringify(filter));
}

$(document).ready(function(){
	$("table.listing th input").keydown(function(e){
	    // Enter was pressed without shift key
	    if (e.keyCode == 13 && !e.shiftKey)
	    {
		//e.preventDefault();
		filter();
	    }
	});
});

</script>
]]#
