#set ($id = $entity.get("id"))
<form method="post" action="$action">
<div class="form">
	<div>
		<div style="font-size:14px;">TD#$id</label></div>
	</div>
	<div>
		<div><label for="status">Status</label></div>
		<div>
			#set ($actual_status = $entity.get("status"))
			<select name="status">
				#foreach ($status in $entity.getAvailStatuses())
					#set ($def = '')
					#if ($status == $actual_status )
						#set ($def = ' selected="selected"')
					#end
					<option value="$status"$def>$status</option>
				#end
			</select>
			<!--input id="status" class="text" type="text" name="status" value="$entity.get("status")" /-->
		</div>
	</div>
	<div>
		<div><label for="owner">Owner</label></div>
		<div><input id="owner" class="text" type="text" name="owner" value="$entity.get("owner")" /></div>
	</div>
	<div>
		<div><label for="description">Description</label></div>
		<div><textarea id="description" name="description">$util.escapeHtml($entity.get("description"))</textarea></div>
	</div>

	<br/>
	<br/>

	<div>
		<div><label for="dev_comments">Comments</label></div>
		<div>$entity.getDevComments(true)</div>
	</div>
	<br/>
	<div>
		<div><label for="newComment">New Comment</label></div>
		<div><textarea id="newComment" name="newComment">$!util.escapeHtml($newComment)</textarea></div>
	</div>
	<div>
		<div style="text-align:right;"><input type="submit" class="submit" value="Save"></div>
	</div>
</div>
</form>
<script type="text/javascript">
      $(document).ready(function() {
	$.cleditor.defaultOptions.width = $("#description").parent().width();
        $("#description").cleditor({ controls: "" });
        $("#newComment").cleditor({ controls: "" });
      });
</script>
