<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Test Director</title>
	<link rel="stylesheet" type="text/css" href="${base}/css/style.css" />
	<script type="text/javascript" src="${base}/js/jquery-1.8.0.min.js"></script>
	<!--script type="text/javascript" src="${base}/js/json.js"></script-->

	<link rel="stylesheet" type="text/css" href="${base}/js/cleditor/jquery.cleditor.css" />
	<script type="text/javascript" src="${base}/js/cleditor/jquery.cleditor.min.js"></script>
</head>
<body>
	#if ($error)<div id="error">$error</div>#end
	#if ($warning)<div id="warning">$warning</div>#end
	#if ($notice)<div id="notice">$notice</div>#end

	<div id="header">
		<div id="hlinks">
			<a href="$mytickets">My Tickets</a>
			&nbsp;
			&nbsp;
			<a href="${base}/Index/alltickets">All Tickets</a>
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			<a href="${base}/Index/newticket">Create Ticket</a>
		</div>
		<div id="logout"> #if($auth)<a href="${base}/Auth/logout">Logout</a>#end </div>
	</div>
	<div id="content">$CONTENT</div>
</body>
</html>