<form action="${base}/Auth/doLogin" method="post">
<div class="form">
	<div>
		<div><label for="username">Username</label></div>
		<div><input type="text" class="text" name="username" value="$!{username}" /></div>
	</div>

	<div>
		<div><label for="password">Password</label></div>
		<div><input type="password" class="password" name="password" value="" autocomplete="off"/></div>
	</div>

	<div>
		<div></div>
		<div><input type="submit" class="submit" value="Submit"/></div>
	</div>
</div>
</form>